In [6]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [7]:
df = pd.read_csv('coursemate.csv')
df.head()

   first_name   last_name                      email        course     level
0  Abubakar         Adisa    adisaabubakar@gmail.com  Data Science  Beginner
1     Adebisi     Afolabi  wasola.afolabi@yahoo.com   Data Science  Beginner
2    Adedoyin       Abass      doyinabass0@gmail.com  Data Science  Beginner
3    Awonaike  Tawakalitu  purpleduralumin@gmail.com  Data Science  Beginner
4    Babajide    Adesugba       jide_ade@hotmail.com  Data Science  Beginner

In [ ]:
sns.barplot